<div class="foods-page-container">

    <div class="input-and-content">

        <input class="searchbar" type="text" placeholder="Search food..." #box (input)="searchFood(box.value)">

        <!-- <div class="food-categories">

            <span *ngFor="let categorie of upperCaseCategories" (click)="searchFor(categorie)">
                {{ categorie }}
            </span>

        </div> -->

        <div *ngIf="apiLoaded" class="menu-list" id="menuList">

            <div *ngFor="let categorie of menuJSON; let i = index" class="food-categorie">

                <div *ngIf="!userSearchesFood">

                    <h2 class="categorie-title">{{ upperCaseCategories[i] }}</h2>

                    <div class="white-list-line"></div>

                </div>

                <div *ngFor="let menu of categorie.menus">

                    <div *ngIf="menu.display" class="food-background" [ngStyle]="{'background-image': 'url(' + menu.img + ')'}">

                        <div class="food-background">

                            <div class="single-menu">

                                <h2>{{menu.name}}</h2>

                                <p>{{menu.dsc}}</p>

                                <span><b>{{menu.price}} €</b></span>

                                <button class="add-menu-button" mat-mini-fab>
                                    <mat-icon>add</mat-icon>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>