<div class="foods-page-container">

    <div class="input-and-content">

        <input class="searchbar" type="text" placeholder="Search food..." #box (input)="searchFood(box.value)">

        <div *ngIf="apiLoaded" class="menu-list" id="menuList">

            <div *ngFor="let categorie of menuJSON; let i = index" class="food-categorie">

                <div *ngIf="!userSearchesFood">

                    <h2 class="categorie-title">{{ upperCaseCategories[i] }}</h2>

                    <div class="white-list-line"></div>

                </div>

                <div *ngFor="let menu of categorie.menus">

                    <div *ngIf="menu.display" class="food-background"
                        [ngStyle]="{'background-image': 'url(' + menu.img + ')'}">

                        <div class="food-background">

                            <div class="single-menu">

                                <h2>{{menu.name}}</h2>

                                <p>{{menu.dsc}}</p>

                                <span><b>{{menu.price}} €</b></span>

                                <button class="add-menu-button" mat-mini-fab (click)="toggleFoodCard(menu.id)">

                                    <mat-icon>add</mat-icon>

                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="foodCardOpen" class="food-card">

            <div class="close-button-position">

                <button mat-mini-fab (click)="closeFoodCard()">

                    <mat-icon>close</mat-icon>

                </button>

            </div>

            <div class="food-card-content">

                <div>

                    <h3 class="food-card-title">{{ foodCardInfo[0].food }}</h3>

                    <p>{{ foodCardInfo[0].dsc }}</p>

                </div>

                <div class="card-order-section">

                    <div class="card-amount-and-price">

                        <div class="card-amount-section">

                            <button mat-mini-fab (click)="changeAmountAndTotal('-')">

                                <mat-icon>remove</mat-icon>

                            </button>

                            <button mat-fab class="amount-button">

                                {{ foodCardInfo[0].amount }}
                                
                            </button>

                            <button mat-mini-fab (click)="changeAmountAndTotal('+')">

                                <mat-icon>add</mat-icon>

                            </button>

                        </div>

                        <span><b>{{ foodCardInfo[0].total }} €</b></span>

                    </div>

                    <button class="sc-button" (click)="addToCart()">
                        Add to Shopping Cart
                    </button>

                </div>

            </div>

            <img class="food-card-image" src="{{ foodCardInfo[0].img }}">

        </div>
    </div>
</div>