<div class="foods-page-container">

    <div class="input-and-content">

        <input class="searchbar" type="text" placeholder="Search food...">

        <div class="food-categories">
            <span>
                Pizza
            </span>
            <span>
                Pizza
            </span>
            <span>
                Pizza
            </span>
            <span>
                Pizza
            </span>
            <span>
                Pizza
            </span>
        </div>

        <div class="menu-list">

            <img class="categorie-image" src="../assets/images/pizza.jpg">

            <div *ngFor="let food of categorieList10" class="food-background" [ngStyle]="{'background-image': 'url(' + food.img + ')'}">

                <div class="single-menu">

                    <h2>{{ food.name }}</h2>
                    <p>{{ food.dsc }}</p>
                    <span><b>{{ food.price }}</b></span>
    
                    <button class="add-menu-button" mat-mini-fab>
                        <mat-icon>add</mat-icon>
                    </button>
    
                </div>

            </div>

        </div>

    </div>

</div>