.foods-page-container {
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0px;
    right: 0px;
    // background-color: rgb(30, 30, 30);

    display: flex;
    justify-content: center;
}

.foods-page-container::-webkit-scrollbar {
    display: none;
}








.input-and-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}




.searchbar {

    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 16px 20px;
    margin-block: 16px;
    border-radius: 32px;


    cursor: pointer;
    font-family: 'Inter';
    font-size: 16px;
    color: white;
}

input::placeholder {
    font-family: 'Inter';
    font-size: 16px;
    color: white;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(20, 29, 47) inset !important;
    -webkit-text-fill-color: white !important;
}





















.food-categories {
    background-color: rgba(255, 255, 255, 0.1);

    display: flex;
    align-items: center;
    overflow-y: auto;
    padding-inline: 16px;
    min-height: 48px;
    margin-bottom: 20px;
    border-radius: 32px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1);

    span {
        font-size: 16px;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        margin-right: 8px;
        padding: 6px 12px;
        border-radius: 32px;
        white-space: nowrap;
    }
}

.food-categories::-webkit-scrollbar {
    display: none;
}














.menu-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu-list::-webkit-scrollbar {
    display: none;
}












.food-categorie {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}


.categorie-image {
    height: 120px;
    margin-block: 16px;
    border-radius: 20px;
    object-fit: cover;
}


.food-background {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
}


.single-menu {
    background-image: linear-gradient(40deg, rgb(30, 30, 30), rgba(30, 30, 30, 0.7), transparent);
    // background-color: gray;
    color: white;
    border-radius: 20px;
    padding: 16px;
    position: relative;

    display: flex;
    flex-direction: column;

    h2 {
        margin-top: 0px;
        max-width: 85%;
    }

    p {
        font-size: 14px;
        max-height: 40px;
        max-width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.add-menu-button {
    position: absolute;
    top: 12px;
    right: 16px;
    color: rgb(255, 255, 255);
    background-color: rgba(30, 30, 30, 0.8)
}