<div class="checkout-container">

    <div class="close-button-position">

        <button mat-mini-fab>

            <mat-icon>close</mat-icon>

        </button>

    </div>

    <div class="total-bill">

        <div class="total-order-section">

            <span>Total Order</span>

            <span><b>100 €</b></span>

        </div>

        <div class="discount-section">

            <span>Discount</span>

            <div>

                <input type="number" placeholder="in %">

                <span>0 €</span>

            </div>

        </div>

        <div class="tip-section">

            <span>Tip</span>

            <div class="tip-amount">

                <div>

                    <button>5%</button>
                    <button>10%</button>
                    <button>20%</button>

                </div>

                <span>0 €</span>

            </div>

        </div>

    </div>

    <div class="total">

        <span>Total</span>

        <span><b>100 €</b></span>

    </div>

    <div class="payment-method">

        <button>Cash</button>

        <button>Card</button>

        <button>PayPal</button>

    </div>

    <button class="final-button">Order Now!</button>

</div>