<div class="sc-container">

    <div class="sc-title-position">

        <h2>Shopping Cart</h2>

    </div>

    <div class="sc-list">

        <div class="sc-item">

            <img src="../assets/images/pizza.jpg">

            <div class="sc-item-text">

                <h3>Pizza</h3>

                <div class="amount-section">

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>remove</mat-icon>

                    </button>

                    <button mat-fab class="amount-button">

                        5

                    </button>

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>add</mat-icon>

                    </button>

                </div>

            </div>

            <span><b>69 €</b></span>

        </div>

        <div class="sc-item">

            <img src="../assets/images/pizza.jpg">

            <div class="sc-item-text">

                <h3>Pizza</h3>

                <div class="amount-section">

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>remove</mat-icon>

                    </button>

                    <button mat-fab class="amount-button">

                        5

                    </button>

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>add</mat-icon>

                    </button>

                </div>

            </div>

            <span><b>69 €</b></span>

        </div>

        <div class="sc-item">

            <img src="../assets/images/pizza.jpg">

            <div class="sc-item-text">

                <h3>Pizza</h3>

                <div class="amount-section">

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>remove</mat-icon>

                    </button>

                    <button mat-fab class="amount-button">

                        5

                    </button>

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>add</mat-icon>

                    </button>

                </div>

            </div>

            <span><b>69 €</b></span>

        </div>

        <div class="sc-item">

            <img src="../assets/images/pizza.jpg">

            <div class="sc-item-text">

                <h3>Pizza</h3>

                <div class="amount-section">

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>remove</mat-icon>

                    </button>

                    <button mat-fab class="amount-button">

                        5

                    </button>

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>add</mat-icon>

                    </button>

                </div>

            </div>

            <span><b>69 €</b></span>

        </div>

        <div class="sc-item">

            <img src="../assets/images/pizza.jpg">

            <div class="sc-item-text">

                <h3>Pizza</h3>

                <div class="amount-section">

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>remove</mat-icon>

                    </button>

                    <button mat-fab class="amount-button">

                        5

                    </button>

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>add</mat-icon>

                    </button>

                </div>

            </div>

            <span><b>69 €</b></span>

        </div>

        <div class="sc-item">

            <img src="../assets/images/pizza.jpg">

            <div class="sc-item-text">

                <h3>Pizza</h3>

                <div class="amount-section">

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>remove</mat-icon>

                    </button>

                    <button mat-fab class="amount-button">

                        5

                    </button>

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>add</mat-icon>

                    </button>

                </div>

            </div>

            <span><b>69 €</b></span>

        </div>

        <div class="sc-item">

            <img src="../assets/images/pizza.jpg">

            <div class="sc-item-text">

                <h3>Pizza</h3>

                <div class="amount-section">

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>remove</mat-icon>

                    </button>

                    <button mat-fab class="amount-button">

                        5

                    </button>

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>add</mat-icon>

                    </button>

                </div>

            </div>

            <span><b>69 €</b></span>

        </div>

        <div class="sc-item">

            <img src="../assets/images/pizza.jpg">

            <div class="sc-item-text">

                <h3>Pizza</h3>

                <div class="amount-section">

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>remove</mat-icon>

                    </button>

                    <button mat-fab class="amount-button">

                        5

                    </button>

                    <button mat-mini-fab class="change-amount-button">

                        <mat-icon>add</mat-icon>

                    </button>

                </div>

            </div>

            <span><b>69 €</b></span>

        </div>

    </div>

    <div class="total-order">
        <span>Total Order</span>
        <span><b>199 €</b></span>
    </div>

    <button class="checkout-button">Go To Checkout</button>

</div>